<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<!-- Anchor.js untuk ikon link di heading -->
<script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", () => {
  anchors.options = {
    placement: 'right',
    visible: 'hover'
  };
  anchors.add('h2, h3, h4, h5, h6');
});
</script>
<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
