.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }

.highlight .cm {
  color: #6272a4;
  font-style: italic;
}
.highlight .cp {
  color: #6272a4;
  font-weight: bold;
}
.highlight .c1 {
  color: #6272a4;
  font-style: italic;
}
.highlight .cs {
  color: #6272a4;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .cd {
  color: #6272a4;
  font-style: italic;
}

.highlight .err {
  color: #ff5555;
  background-color: #3b2a2a;
}

.highlight .gd {
  color: #f8f8f2;
  background-color: #3b2a2a;
}
.highlight .ge {
  color: #f8f8f2;
  font-style: italic;
}
.highlight .gr {
  color: #ff5555;
}
.highlight .gh {
  color: #6272a4;
}
.highlight .gi {
  color: #f8f8f2;
  background-color: #203a2a;
}
.highlight .go {
  color: #44475a;
}
.highlight .gp {
  color: #44475a;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #6272a4;
}
.highlight .gt {
  color: #ff5555;
}

.highlight .kc {
  color: #ff79c6;
  font-weight: bold;
}
.highlight .kd {
  color: #ff79c6;
  font-weight: bold;
}
.highlight .kn {
  color: #ff79c6;
  font-weight: bold;
}
.highlight .kp {
  color: #ff79c6;
  font-weight: bold;
}
.highlight .kr {
  color: #ff79c6;
  font-weight: bold;
}
.highlight .kt {
  color: #bd93f9;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #ff79c6;
  font-weight: bold;
}

.highlight .mf {
  color: #bd93f9;
}
.highlight .mh {
  color: #bd93f9;
}
.highlight .il {
  color: #bd93f9;
}
.highlight .mi {
  color: #bd93f9;
}
.highlight .mo {
  color: #bd93f9;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #bd93f9;
}

.highlight .sb {
  color: #f1fa8c;
}
.highlight .sc {
  color: #f1fa8c;
}
.highlight .sd {
  color: #f1fa8c;
}
.highlight .s2 {
  color: #f1fa8c;
}
.highlight .se {
  color: #f1fa8c;
}
.highlight .sh {
  color: #f1fa8c;
}
.highlight .si {
  color: #f1fa8c;
}
.highlight .sx {
  color: #f1fa8c;
}
.highlight .sr {
  color: #8be9fd;
}
.highlight .s1 {
  color: #f1fa8c;
}
.highlight .ss {
  color: #ff79c6;
}
.highlight .s {
  color: #f1fa8c;
}

.highlight .na {
  color: #8be9fd;
}
.highlight .bp {
  color: #6272a4;
}
.highlight .nb {
  color: #8be9fd;
}
.highlight .nc {
  color: #bd93f9;
  font-weight: bold;
}
.highlight .no {
  color: #8be9fd;
}
.highlight .nd {
  color: #bd93f9;
  font-weight: bold;
}
.highlight .ni {
  color: #ff79c6;
}
.highlight .ne {
  color: #ff5555;
  font-weight: bold;
}
.highlight .nf {
  color: #50fa7b;
  font-weight: bold;
}
.highlight .nl {
  color: #50fa7b;
  font-weight: bold;
}
.highlight .nn {
  color: #f8f8f2;
}
.highlight .nt {
  color: #ff79c6;
}

.highlight .vc {
  color: #8be9fd;
}
.highlight .vg {
  color: #8be9fd;
}
.highlight .vi {
  color: #8be9fd;
}
.highlight .nv {
  color: #8be9fd;
}

.highlight .ow {
  color: #ff79c6;
  font-weight: bold;
}
.highlight .o {
  color: #ff79c6;
  font-weight: bold;
}

.highlight .w {
  color: #44475a;
}

.highlight {
  background-color: #282a36;
}

/* Default foreground for unstyled tokens */
.highlight .n,
.highlight .nx,
.highlight .p {
  color: #f8f8f2; /* Dracula foreground */
}
